# Miscellaneous Flutter/Dart files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE files
.idea/
*.iml
.vscode/

# Web-simulator code to exclude
/Research and development report.docx
/scratch/
